<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/estilo.css}" rel='stylesheet' type='text/css'/>
	 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>  
</head>
<body>
<nav class="navbar fixed-top navbar-expand-lg  navbar-light bg-light ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">MULTITIENDAS TU-PODI</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              	<li class="nav-item">
                	 <a class="nav-link active" aria-current="page" href="#"> PRODUCTOS</a>
              	</li>
              	<li>
                	<a class="nav-link" th:href="@{/producto/nuevo}"> NUEVO PRODUCTO</a>
              	</li>
              	<li>
                	<a class="nav-link" th:href="@{/producto/listado}"> LISTADO PRODUCTOS</a>
              	</li>
           </ul>
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              	<li class="nav-item">
                	 <a class="nav-link active" aria-current="page" href="#"> CATEGORIAS</a>
              	</li>
              	<li>
                	<a class="nav-link" th:href="@{/categoria/nuevo}"> NUEVA CATEGORIA</a>
              	</li>
              	<li>
                	<a class="nav-link" th:href="@{/categoria/listado}"> LISTADO CATEGORIAS</a>
              	</li>
           </ul>
          </div>
        </div>
</nav>
<br><br><br><br><br>
<br><br><br><br><br>
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" align="center">
	  <div class="carousel-inner">
	    <div class="carousel-item active">
	    <h1>CELULARES</h1>
	       <img th:src="@{/imagenes/celular4.png}" class="d-block w-30" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>CELULARES</h1>
	      <img th:src="@{/imagenes/celular3.jpg}" class="d-block w-50" alt="...">
	    </div>
	    <div class="carousel-item">
	    <h1>CELULARES</h1>
	       <img th:src="@{/imagenes/celular2.png}" class="d-block w-30" alt="...">
	    </div>
	    <div class="carousel-item">
	    <h1>LAPTOPS</h1>
	       <img th:src="@{/imagenes/note1.jpg}" class="d-block w-50" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>LAPTOPS</h1>
	       <img th:src="@{/imagenes/note2.jpg}" class="d-block w-50" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>LAPTOPS</h1>
	       <img th:src="@{/imagenes/note3.jpg}" class="d-block w-35" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>TABLET</h1>
	       <img th:src="@{/imagenes/tablet2.jpg}" class="d-block w-50" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>TABLET</h1>
	       <img th:src="@{/imagenes/tablet3.jpg}" class="d-block w-35" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>TABLET</h1>
	       <img th:src="@{/imagenes/tablet4.png}" class="d-block w-35" alt="..." >
	    </div>
	    <div class="carousel-item">
	    <h1>TELEVISORES</h1>
	       <img th:src="@{/imagenes/televisor1.png}" class="d-block w-35" alt="..." >
	    </div><div class="carousel-item">
	    <h1>TELEVISORES</h1>
	       <img th:src="@{/imagenes/televisor2.png}" class="d-block w-35" alt="..." >
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>
</html>